<div class="card bg-base-100 shadow-sm fadeIn">
  <figure>
    <img
      class="cursor-pointer"
      [routerLink]="['/product', product().slug]"
      [src]="product().images | productImg"
      [alt]="product().slug"
    />
  </figure>
  <div class="card-body">
    <h2
      class="card-title cursor-pointer hover:underline text-secondary"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Add to cart</button>
    </div>
  </div>
</div>
