<!-- Slider main container -->
<div class="max-w-sm rounded-lg shadow-2xl swiper" #swiperDiv>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    @for (img of images() ; track img) {
    <div class="swiper-slide">
      <img [src]="img | productImg" alt="sport product" />
    </div>
    } @empty {
    <div class="swiper-slide">
      <img [src]="null | productImg" alt="sport product" />
    </div>
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
