<div class="navbar bg-amber-950 text-primary-content shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li class="btn btn-ghost" routerLinkActive="text-secondary" routerLink="/gender/men">
          <a>Men</a>
        </li>
        <li class="btn btn-ghost" routerLinkActive="text-secondary" routerLink="/gender/women">
          <a>Women</a>
        </li>
        <li class="btn btn-ghost" routerLinkActive="text-secondary" routerLink="/gender/unisex">
          <a>Unisex</a>
        </li>
        <li class="btn btn-ghost" routerLinkActive="text-secondary" routerLink="/gender/kid">
          <a>Kids</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" style="font-family: Monserrat-alternates" routerLink="/"
      >Pablo <span class="text-secondary">| shop </span></a
    >
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li class="btn btn-ghost" routerLinkActive="text-secondary" routerLink="/gender/men">
        <a>Men</a>
      </li>
      <li class="btn btn-ghost" routerLinkActive="text-secondary" routerLink="/gender/women">
        <a>Women</a>
      </li>
      <li class="btn btn-ghost" routerLinkActive="text-secondary" routerLink="/gender/unisex">
        <a>Unisex</a>
      </li>
      <li class="btn btn-ghost" routerLinkActive="text-secondary" routerLink="/gender/kid">
        <a>Kids</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    @if(authService.authStatus() === authStatus.AUTHENTICATED) {
    <button class="btn btn-ghost">{{ authService.user()?.fullName }}</button>
    @if (authService.isAdmin()){
    <a class="btn text-accent" routerLink="/admin">
      <span class="">Admin</span>
    </a>
    }
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
    } @else if (authService.authStatus() === authStatus.CHECKING) {
    <button class="btn btn-secondary">
      <span class="loading loading-spinner loading-md"></span>
    </button>
    }@else if (authService.authStatus() === authStatus.NOT_AUTHENTICATED) {
    <button routerLink="/auth" class="btn btn-secondary">Login</button>
    }
  </div>
</div>
