<form (ngSubmit)="submit()" [formGroup]="productForm" class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <!-- Data -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Details</h2>
    <input
      type="text"
      formControlName="title"
      placeholder="Title"
      class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('title')?.errors ?? false"
    />
    <form-error-label [control]="productForm.get('title')!" />

    <input
      type="text"
      formControlName="slug"
      placeholder="Slug"
      class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('slug')?.errors ?? false"
    />
    <form-error-label [control]="productForm.get('slug')!" />

    <textarea
      formControlName="description"
      class="textarea textarea-bordered"
      placeholder="Descripción"
      rows="6"
      [class.border-red-500]="productForm.get('description')?.errors ?? false"
    ></textarea>
    <form-error-label [control]="productForm.get('description')!" />

    <h2 class="text-lg font-bold">Sales data</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <input
        type="number"
        formControlName="price"
        placeholder="Precio"
        class="input input-bordered w-full"
        [class.border-red-500]="productForm.get('price')?.errors ?? false"
      />
      <form-error-label [control]="productForm.get('price')!" />

      <input
        type="number"
        formControlName="stock"
        placeholder="Inventario"
        class="input input-bordered w-full"
        [class.border-red-500]="productForm.get('stock')?.errors ?? false"
      />
      <form-error-label [control]="productForm.get('stock')!" />
    </div>

    <!-- tags -->
    <input
      type="text"
      formControlName="tags"
      placeholder="Tags"
      class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('tags')?.errors ?? false"
    />
    <form-error-label [control]="productForm.get('tags')!" />

    <!-- Gender buttons -->
    <div class="grid grid-cols-4 gap-2">
      <button
        type="button"
        class="btn btn-sm"
        [class.btn-primary]="productForm.value.gender === gender.Men"
        [class.btn-outline]="productForm.value.gender !== gender.Men"
        (click)="productForm.patchValue({ gender: gender.Men })"
      >
        Men
      </button>
      <button
        type="button"
        class="btn btn-sm"
        [class.btn-accent]="productForm.value.gender === gender.Women"
        [class.btn-outline]="productForm.value.gender !== gender.Women"
        (click)="productForm.patchValue({ gender: gender.Women })"
      >
        Woman
      </button>
      <button
        type="button"
        class="btn btn-sm"
        [class.btn-info]="productForm.value.gender === gender.Kid"
        [class.btn-outline]="productForm.value.gender !== gender.Kid"
        (click)="productForm.patchValue({ gender: gender.Kid })"
      >
        Kids
      </button>
      <button
        type="button"
        class="btn btn-sm"
        [class.btn-secondary]="productForm.value.gender === gender.Unisex"
        [class.btn-outline]="productForm.value.gender !== gender.Unisex"
        (click)="productForm.patchValue({ gender: gender.Unisex })"
      >
        Unisex
      </button>
    </div>

    <!-- <select class="select select-bordered w-full">
      <option value="male">Masculino</option>
      <option value="female">Femenino</option>
      <option value="unisex">Unisex</option>
    </select> -->

    <!-- Sizes -->
    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
      <button
        (click)="onSizeChanges(size)"
        type="button"
        class="btn btn-sm btn-outline"
        [class.btn-warning]="productForm.value.sizes?.includes(size)"
      >
        {{ size }}
      </button>
      }
    </div>
  </div>

  <!-- Imágenes -->
  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        <!-- <span class="loading loading-spinner loading-sm"></span> -->
        Save
      </button>
    </div>

    <app-carrousel [images]="product().images" />

    <input type="file" class="file-input file-input-bordered w-full mt-4" />
  </div>
</form>
@if (wasSaved()){
<div role="alert" class="alert alert-success alert-soft animate-pulse">
  @if (product().id === 'new'){
  <span>Product was successfully created</span>
  } @else{
  <span>Data was successfully updated</span>
  }
</div>
}
